﻿@model BondoraTest.Models.ProductsModel


<h2>@ViewBag.Title.</h2>

<div>
    @if (ViewBag.Products != null)
    {
        <ul>
            @foreach (var item in Model.ProductModels)
            {
            <li>@item.Id - @item.Name</li>
            }
        </ul>
    }
    else
    {
        <p>There are no products at this time.</p>
    }
</div>