﻿@model BondoraTest.Models.CartModel


<h2>@ViewBag.Title.</h2>

@if (Model != null && Model.CartProductModels != null)
{
    using (Html.BeginForm("Cart", "Home", FormMethod.Post))
     {

         <table>
             <tr>
                 <th>Id</th>
                 <th>Name</th>
                 <th>Amount</th>
             </tr>
             @foreach (var item in Model.CartProductModels)
             {
                 <tr>
                     <td><input type="hidden" value="@item.Id" name="Id"/>@item.Id</td>
                     <td>@item.Name</td>
                     <td><input type="hidden" value="@item.Amount" name="Amount"/>@item.Amount</td>
                 </tr>
             }
         </table>

         <input type="submit" value="Order"/>
     }
}
else
{
    <p>Your cart is empty</p>
}
